@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Regular.woff2') format('woff2'),
      url('../font/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Medium.woff2') format('woff2'),
      url('../font/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* button-colors */
  --header-footer-btn-color: #FA5959;
  --main-btn-color: #5267DF;
  /* font colors */
  --font-color: #242A45;

}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  color: var(--font-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
/* HEADER nav */
.site-header {
  padding-top: 48px;
  padding-bottom: 48px;
}

.site-header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
/* HEADER img a */
.header-logo__img {
  display: block;
}

.site-header__logo--link {
  margin-right: auto;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.6;
}
/* HEADER ul */

/* HEADER li */
.header-nav__item {
  flex-grow: 1;
}

.header-nav__item:not(:first-child) {
  margin-left: 48px;
}
/* HEADER li>a */
.header-nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--font-color);
  transition: color 0.3s ease;
}

.header-nav__link:hover {
  color: var(--header-footer-btn-color);
}

.button {
  display: inline-block;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
  transition: border 0.3s ease,
  color 0.3s ease,
  background-color 0.3s ease;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.header--button {
  line-height: 17px;
  margin-left: 48px;
  padding: 12px 32px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--header-footer-btn-color);
}

.header--button:hover {
  border-color: var(--header-footer-btn-color);
  color: var(--header-footer-btn-color);
  background-color: #fff;
}

/* HERO */

.site-hero {
  padding-top: 157px;
  padding-bottom: 123px;
  background: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 609px) top calc(60px);
}

.site-hero__inner {
  margin-right: auto;
  width: 540px;
}

.site-hero__heading {
  margin: 0 0 24px 0;
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  text-transform: capitalize;
}

.site-hero__content {
  margin: 0 0 32px 0;
  padding: 0;
}

.site-hero-links {
  display: flex;
  align-items: center;
}

.hero--link {
  margin-right: 16px;
  padding: 10px 24px;
  text-decoration: none;
  box-shadow: 0px 8px 8px -4px rgba(73, 93, 207, 0.20012);
}

.blue__button {
  color: #fff;
  background-color: var(--main-btn-color);
}

.blue__button:hover {
  color: var(--main-btn-color);
  background-color: transparent;
  border: 2px solid var(--main-btn-color);
}

.fire-fox--button {
  color: var(--font-color);
  background-color: #F7F7F7;
  opacity: 0.75;
}

.fire-fox--button:hover {
  color: var(--font-color);
  background-color: transparent;
  border-color: var(--font-color);
}

/* FEATURES */
.features-section {
  padding-top: 80px;
  padding-bottom: 75px;
}

.features-title {
  width: 540px;
  text-align: center;
}

.main--heading {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.main-text {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}

.features-title__text {
  margin: 0 0 72px 0;
  padding: 0;
}

.features-navigation-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.features-navigation-item {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012); 
}

.features-navigation__btn {
  margin: 0 40px 27px 40px;
  padding: 0;
  flex-shrink: 1;
  border: 1px solid transparent;
  background-color: #fff;
  font-size: 16px;
  line-height: 17px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease,
  color 0.3s ease;
}

.features-navigation__btn:hover {
  color:var(--header-footer-btn-color);
}

.features-navigation__btn-active::after {
  position: absolute;
  display: block;
  content: "";
  z-index: 1;
  left: 0;
  width: 100%;
  height: 4px;
  bottom: 0;
  background-color: var(--header-footer-btn-color);
}

.features-navigation__btn-active .features-navigation__btn {
  opacity: 1;
}

.simple-bookmarking-content {
  padding-top: 129px;
  padding-bottom: 145px;
  background-image: url(../img/site-bg-2.png);
  background-repeat: no-repeat;
  background-position: left calc(50% - 547px) top calc(73px);
}

.simple-bookmarking-content__inner {
  margin-left: auto;
  padding: 0;
  width: 445px;
}

.bookmarking-content__text {
  margin: 0 0 32px 0;
  padding: 0;
}

.simple--bookmarking--button {
  padding: 10px 24px;
  text-transform: capitalize;
}

/* extentions */
.extentions-section {
  padding-top: 118px;
  padding-bottom: 75px;
}

.extentions-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extentions-title {
  width: 540px;
  text-align: center;
}

.extentions-title__content {
  margin: 0 0 48px 0;
}

.extentions-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -36px;
  margin-top: -85px;
  padding: 0;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.extentions-sections__item {
  margin-bottom: -48px;
  margin-left: 36px;
  padding: 49px 22px 24px 22px;
  border-radius: 15px;
  overflow: hidden;
  width: 280px;
  background-color: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  background-image: url(../img/icon/card-design.svg);
  background-repeat: no-repeat;
  background-position: center 265px;
  transition: opacity 0.3s ease;
}

.extentions-sections__item:nth-child(3n + 2) {
  margin-top: 88px;
}

.extentions-sections__item:nth-child(3n + 3) {
  margin-top: 155px;
}

/* .extentions-sections__item {
  margin-left: 36px;
} */


.extentions-sections__item:nth-child(1)::before {
  display: block;
  margin: 0 auto 32px;
  content: "";
  width: 105px;
  height: 100px;
  background-image: url(../img/icon/chrome.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.extentions-sections__item:nth-child(2)::before {
  display: block;
  margin: 0 auto 32px;
  content: "";
  width: 105px;
  height: 100px;
  background-image: url(../img/icon/path.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.extentions-sections__item:nth-child(3)::before {
  display: block;
  margin: 0 auto 32px;
  content: "";
  width: 105px;
  height: 100px;
  background-image: url(../img/icon/opera.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.extentions-sections__item:hover {
  box-shadow: 0px 10px 15px -8px rgba(73, 93, 207, 0.20012);
}

.extentions-item__heading {
  margin: 0 0 6px 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
}

.extentions-item__content {
  margin: 0 0 60px 0;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
}

.extentions--button {
  display: block;
  padding: 10px 35px;
  letter-spacing: 0.25px;
  background-color: var(--main-btn-color);
}

.extentions--button:hover {
  background-color: transparent;
  color: var(--main-btn-color);
  border-color:var(--main-btn-color);
}

/* FAQ */
.faq-section {
  padding-top: 74px;
  padding-bottom: 75px;
}

.faq-section__title {
  margin: 0 auto;
}

.faq-section__desc {
  margin: 0;
  margin-bottom: 56px;
}

.faq-section__list {
  border-top: 1px solid rgba(36, 42, 69, 0.5);
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
  max-width: 540px;
  list-style-type: none;
}

.faq-section__item {
  border-bottom: 1px solid rgba(36, 42, 69, 0.5);
}

.faq--item__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: 19px 0 13px;
}

.faq--item__header:hover .faq--item__heading {
  color: var(--header-footer-btn-color);
}

.faq--item__heading {
  margin: 0;
  margin-right: 15px;
  flex-grow: 1;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  transition: color 0.3s ease;
}

.faq--item__button {
  margin-right: 20px;
  padding: 0;
  outline: transparent;
  flex-shrink: 0;
  width: 20px;
  height: 15px;
  border: 1px solid transparent;
  background-color: transparent;
  background-image: url(../img/icon/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right center;
  cursor: pointer;
}

.faq--item__button::before {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 1;
}

.faq--item__drop {
  display: none;
}

.faq--item__drop--active .faq--item__drop {
  display: block;
}

.faq--item__drop--active .faq--item__button {
  background-image: url(../img/icon/up-arrow.svg);
}

.faq-button {
  display: flex;
  margin-top: 54px;
  flex-direction: column;
  align-items: center;
}

.faq--item__drop--text {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: rgba(36, 42, 69, 0.75);
}

/* FOOTER */

.site-footer {
  padding-top: 75px;
}

.site-footer__inner {
  padding-top: 58px;
  background-color: var(--main-btn-color);
}

.site-footer__top {
  padding-bottom: 52px;
}

.site-footer__title {
  margin: 0 auto;
  width: 408px;
  text-align: center;
  color: #fff;
  font-weight: 500;
}

.site-footer__joined-list {
  margin: 0 0 24px;
  font-size: 13px;
  line-height: 40px;
  letter-spacing: 5px;
}

.site-footer__stay-up {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.1px;
}

.site-footer__form {
  display: flex;
  align-items: center;
  margin: 0 auto;
  width: 451px;
}

.site-footer__email--wrapper {
  position: relative;
}

.site-footer__email--error {
  position: absolute;
  display: none;
  z-index: 5;
  padding-top: 49px;
  padding-left: 12px;
  top: -2px;
  left: -2px;
  border-radius: 5px;
  width: 304px;
  height: 72px;
  background-color: var(--header-footer-btn-color);
}

.site-footer__email--error span {
  font-style: italic;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.25px;
  color: #fff;
}

.site-footer__email {
  position: relative;
  z-index: 10;
  padding: 10px 10px 10px 20px;
  border: 1px solid transparent;
  width: 300px;
  height: 48px;
  border-radius: 5px;
}

.site-footer__email:not(:placeholder-shown):not(:focus):invalid {
  border: 1px solid #FF7979;
  background-image: url(../img/icon/error-disc.png);
  background-repeat: no-repeat;
  background-position: right calc(14px) center;
}

.site-footer__email:not(:placeholder-shown):not(:focus):invalid + .site-footer__email--error {
  display: block;
}

.site-footer__email:not(:placeholder-shown):not(:focus):valid {
  border: 1px solid #79ff9b;
  background-color: #79ff9b;
}

.site-footer__email::placeholder {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: rgba(36, 42, 69, 0.250109);
}

.site-footer__submit {
  background-color: var(--header-footer-btn-color);
  margin-left: 16px;
}

.site-footer__submit:hover {
  background-color: #fff;
  border-color: var(--header-footer-btn-color);
  color: var(--header-footer-btn-color);
}

.footer-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.site-footer__bottom {
  padding: 32px;
  background-color: var(--font-color);
}

.site-footer__bottom--container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.site-footer__nav {
  display: flex;
  margin-right: auto;
  align-items: center;
}

.footer-nav__item:not(:first-child) {
  margin-left: 44px;
}

.footer-nav__item:first-child {
  margin-left: 67px;
}

.footer-nav__link {
  color: #fff;
}

.site-footer__social--link {
  text-decoration: none;
}

.site-footer__social--img {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.social--link__twitter {
  margin-left: 40px;
}

.site-footer__social--svg {
  transition: fill 0.3s ease;
}

.site-footer__social--svg:hover {
  fill: var(--header-footer-btn-color);
}