@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Regular.woff2') format('woff2'),
      url('../font/Rubik-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  src: url('../font/Rubik-Medium.woff2') format('woff2'),
      url('../font/Rubik-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  /* button-colors */
  --header-footer-btn-color: #FA5959;
  --main-btn-color: #5267DF;
  /* font colors */
  --font-color: #242A45;

}

/* GENERAL */
html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #fff;
  color: var(--font-color);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1144px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

/* HEADER */
/* HEADER nav */
.site-header__inner {
  display: flex;
  padding-top: 48px;
  padding-bottom: 48px;
  justify-content: space-between;
  align-items: center;
}

.header-nav__list {
  display: flex;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
/* HEADER img a */
.header-logo__img {
  display: block;
}

.site-header__logo--link {
  margin-right: auto;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header-logo-link:hover {
  opacity: 0.8;
}

.header-logo-link:active {
  opacity: 0.6;
}
/* HEADER ul */

/* HEADER li */
.header-nav__item {
  flex-grow: 1;
}

.header-nav__item:not(:first-child) {
  margin-left: 48px;
}
/* HEADER li>a */
.header-nav__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: var(--font-color);
  transition: color 0.3s ease;
}

.header-nav__link:hover {
  color: var(--header-footer-btn-color);
}

.button {
  display: inline-block;
  padding: 0;
  border: 2px solid transparent;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: #fff;
  transition: border 0.3s ease,
  color 0.3s ease,
  background-color 0.3s ease;
  cursor: pointer;
}

.button:active {
  opacity: 0.6;
}

.header--button {
  line-height: 17px;
  margin-left: 48px;
  padding: 12px 32px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  color: #fff;
  background-color: var(--header-footer-btn-color);
}

.header--button:hover {
  border-color: var(--header-footer-btn-color);
  color: var(--header-footer-btn-color);
  background-color: #fff;
}

/* HERO */

.site-hero {
  padding-top: 157px;
  padding-bottom: 123px;
  background: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: left calc(50% + 609px) top calc(60px);
}

.site-hero__inner {
  margin-right: auto;
  width: 540px;
}

.site-hero__heading {
  margin: 0 0 24px 0;
  padding: 0;
  font-weight: 500;
  font-size: 48px;
  line-height: 52px;
  letter-spacing: -0.15px;
  text-transform: capitalize;
}

.site-hero__content {
  margin: 0 0 32px 0;
  padding: 0;
}

.site-hero-links {
  display: flex;
  align-items: center;
}

.hero--link {
  margin-right: 16px;
  padding: 10px 24px;
  text-decoration: none;
}

.blue__button {
  color: #fff;
  background-color: var(--main-btn-color);
}

.blue__button:hover {
  color: var(--main-btn-color);
  background-color: transparent;
  border: 2px solid var(--main-btn-color);
}

.fire-fox--button {
  color: var(--font-color);
  background-color: #F7F7F7;
  opacity: 0.75;
}

.fire-fox--button:hover {
  color: var(--font-color);
  background-color: transparent;
  border-color: var(--font-color);
}

/* FEATURES */
.features-section {
  padding-top: 80px;
  padding-bottom: 75px;
}

.features-title {
  width: 540px;
  text-align: center;
}

.main--heading {
  margin: 0 0 16px 0;
  padding: 0;
  font-weight: 500;
  font-size: 32px;
  line-height: 52px;
  letter-spacing: -0.1px;
}

.main-text {
  font-size: 18px;
  line-height: 28px;
  opacity: 0.5;
}

.features-title__text {
  margin: 0 0 72px 0;
  padding: 0;
}

.features-navigation-list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 631px;
  border-bottom: 1px solid rgba(73, 93, 207, 0.20012);  
}

.features-navigation-item {
  padding: 0 40px 27px 40px;
}

.features-navigation__btn {
  position: relative;
  padding: 0;
  flex-shrink: 0;
  border: 1px solid transparent;
  background-color: #fff;
  font-size: 16px;
  line-height: 17px;
  opacity: 0.7;
  cursor: pointer;
  transition: opacity 0.3s ease,
  color 0.3s ease;
}

.features-navigation__btn:hover {
  color:var(--header-footer-btn-color);
}

.features-navigation__btn-active {
  border-bottom: 3px solid var(--header-footer-btn-color);
}

.features-navigation__btn-active .features-navigation__btn {
  opacity: 1;
}

.simple-bookmarking-content {
  padding-top: 129px;
  padding-bottom: 145px;
  background-image: url(../img/site-bg-2.png);
  background-repeat: no-repeat;
  background-position: left calc(50% - 547px) top calc(73px);
}

.simple-bookmarking-content__inner {
  margin-left: auto;
  padding: 0;
  width: 445px;
}

.bookmarking-content__text {
  margin: 0 0 32px 0;
  padding: 0;
}

.simple--bookmarking--button {
  padding: 10px 24px;
  text-transform: capitalize;
}

/* extentions */
.extentions-section {
  padding-top: 118px;
  padding-bottom: 75px;
}

.extentions-section__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.extentions-title {
  width: 540px;
  text-align: center;
}

.extentions-title__content {
  margin: 0 0 48px 0;
}

.extentions-section__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -36px;
  margin-top: -85px;
  padding: 0;
  padding-bottom: 50px;
  align-items: center;
  justify-content: center;
  list-style-type: none;
}

.extentions-sections__item {
  margin-bottom: -48px;
  margin-left: 36px;
  padding: 181px 21px 24px 21px;
  border-radius: 15px;
  overflow: hidden;
  width: 280px;
  background-color: #fff;
  box-shadow: 0px 10px 20px -5px rgba(73, 93, 207, 0.20012);
  background-image: url(../img/icon/chrome.svg),
  url(../img/icon/card-design.svg);
  background-repeat: no-repeat;
  background-position: center 49px, center 265px;
  transition: opacity 0.3s ease;
}

.extentions-sections__item:nth-child(3n + 2) {
  margin-top: 88px;
}

.extentions-sections__item:nth-child(3n + 3) {
  margin-top: 155px;
}

/* .extentions-sections__item {
  margin-left: 36px;
} */

.extentions-sections__item:nth-child(2) {
  background-image: url(../img/icon/path.svg),
  url(../img/icon/card-design.svg);
  background-repeat: no-repeat;
  background-position: center 49px, center 265px;
}

.extentions-sections__item:nth-child(3) {
  margin-left: 36px;
  background-image: url(../img/icon/opera.svg),
  url(../img/icon/card-design.svg);
  background-repeat: no-repeat;
  background-position: center 49px, center 265px;
}

.extentions-sections__item:hover {
  box-shadow: 0px 10px 15px -8px rgba(73, 93, 207, 0.20012);
}

.extentions-item__heading {
  margin: 0 0 6px 0;
  padding: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.25px;
}

.extentions-item__content {
  margin: 0 0 60px 0;
  padding: 0;
  font-size: 15px;
  line-height: 28px;
  text-align: center;
  opacity: 0.5;
}

.extentions--button {
  display: block;
  padding: 10px 35px;
  letter-spacing: 0.25px;
  background-color: var(--main-btn-color);
}

.extentions--button:hover {
  background-color: transparent;
  color: var(--main-btn-color);
  border-color:var(--main-btn-color);
}
